body {
  background-image: linear-gradient(90deg, rgb(170, 236, 157), rgb(94, 94, 192));
  margin: 40px;
  font-family: Arial, Helvetica, sans-serif
}

nav li {
  display: inline;
  list-style: none;
  cursor: pointer;
}

nav {
  width: 30%;
  margin-bottom: 30px; 
}

nav a {
  display: inline-block;
  margin: 5px;
}

h1 {
  text-align: center;
  text-shadow: 1px 1px 2px black;
  font-size: 40px;
  color: white;
}

h4 {
  text-align: center;
  font-weight: 200;
  color: white;
}


ul.menu {
  list-style-type: style square;
  padding: 3%;
  margin: 5px;
  background-color: rgb(33, 31, 31);
  color: white;
  border: solid 1px;
  border-color: white;
}

.menu li a {
  display: inline-block;
  padding: 3px;
  text-decoration: none;
  color: white;
}

.menu li a:hover {
  background-color: rgb(82, 79, 79);
}

main {
  background-color:rgb(33, 31, 31);
  color: white; 
  width: 30%; 
  padding: 20px; 
  margin: 0 auto;
  border-radius: 3%;
  border: solid 1px;
  border-color:  rgb(255, 255, 255);
}

.bienvenueMessage {
  font-size: 2ch;
  text-align: left; 
  margin-bottom: 20px; 
}

img {
  width: 60%;
  height: auto;
  margin: 20px auto; 
  display: block;
}

form {
  background-color:none;
  padding: 5px;
  width: 350px;
  }


  h2{
    text-align: center;
  }

 fieldset {
  padding:20px 20px 20px 20px;
  margin-bottom:20px;
  border: none;
  font-size: 14px;
  }

#inputNom
  {
   background-color:rgb(33, 31, 31); ;
    color: rgb(251, 250, 249);
    width:300px;
    font-size: 11px;
    padding: 1px;
    border-width: 1px;
    border-top : none;
    border-left : none;
    border-right : none;
  }

  #inputEmail
  {
   background-color:rgb(33, 31, 31); ;
    color: rgb(251, 250, 249);
    width:300px;
    font-size: 11px;
    padding: 1px;
    border-width: 1px;
    border-top : none;
    border-left : none;
    border-right : none;
  }

  #inputMdp  {
    background-color:rgb(33, 31, 31); ;
     color: rgb(251, 250, 249);
     width: 300px;
     font-size: 11px;
     padding: 1px;
     border-width: 1px;
     border-top : none;
     border-left : none;
     border-right : none;
   }

  #inputMdpVerif {
   background-color:rgb(33, 31, 31); ;
    color: rgb(251, 250, 249);
    width:300px;
    font-size: 11px;
    padding: 1px;
    border-width: 1px;
    border-top : none;
    border-left : none;
    border-right : none;
  }

  .information{
    padding-top: 3px;
    font-size: 10px;
    color: rgb(143, 131, 131);
    width:500px;
  }

  
   button {
    display: inline-block;
    margin-left: 43px;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    color: #0d0c0c;
    border-radius: 5px;
    width: 130px;
    height: 40px;
    background-color: rgb(229, 229, 205);
   }

  .fas.fa-exclamation {
      top:33 px;
      color: red;
      right: 10px;
      visibility: hidden;
    
  }
      
  .fas.fas.fa-check-circle {
    color: green;
    top: 33 px;
    right: 10px;
    visibility: hidden;
} 

  small {
    font-size: 10px;
    padding-top: 2px;
    position: absolute;
    color: rgb(249, 7, 7);
    
  }


.form-control.success input{
    border-color: var(--color-success);
}
.form-control.error input{
    border-color: var(--color-error);
}
.form-control.success i.fa-check-circle{
    color: green;
    top: 33 px;
    right: 10px;
    color: var(--color-success);
    visibility: visible;
}
.form-control.error i.fa-exclamation{
    color: var(--color-error);
    visibility: visible;
}
.form-control.error small{
    color: var(--color-error);
    visibility: visible;
}